---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/FiltersLayout.astro';

const posts = await getCollection('articles');

const categoryCounts = {};

posts.forEach(post => {
  categoryCounts[  post.data.category] = (categoryCounts[ post.data.category] || 0) + 1;
});

const sortedCategories = Object.entries(categoryCounts)
  .sort(([,a], [,b]) => b - a);

const tagCounts = {};

posts.forEach(post => {
  post.data.tags?.forEach(tag => {
    tagCounts[tag] = (tagCounts[tag] || 0) + 1;
  });
});

const sortedTags = Object.entries(tagCounts)
  .sort(([,a], [,b]) => b - a);

---
<Layout title="Témoignages gédéons">
<h1>Articles&nbsp;({posts.length})</h1>

<h2>Filtrer par categorie</h2>
<ul>
  {sortedCategories.map(([category, count]) => (
    <li><a href={`/categories/${category}/`} class="link">
      {category} 
    </a>&nbsp;({count})
    </li>
  ))} 
</ul>

<h2>Filtrer par tag</h2>
<ul>
  {sortedTags.map(([tag, count]) => (
    <li><a href={`/tags/${tag}/`} class="link">
      {tag} 
    </a>&nbsp;({count})
    </li>
  ))}
</ul>
</Layout>
